.Cart {
  background-color: lightgrey;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
  height: 100%;
  padding: 0.5rem;
}

.checkout {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.23);
  font-weight: bold;
  margin: 1.5rem auto;
  padding: 1rem;
  width: fit-content;
}